{% extends "layout_two_column.html" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block main_column %}

  <header class="heading">
    <h2>Edit taxonomy</h2>
  </header>

    <p class="lead">
      Select a topic to edit, or to add child topics.
    </p>


    <div class="topic-tree">
      <div class="form-group row">
        <div class="col-lg-6">
          <input  class="string optional form-control" type="text" placeholder="Search topics">
        </div>
      </div>


        <h4>
            Education, training and skills
        </h4>

        {% for topic1 in topics %}

      <p>
        <a href="/edit-topic/{{topic1.title}}">{{topic1.title}}</a>
        <span class="number">{{Math.round(Math.random()*2000)+1000}}</span>
      </p>

      <div class="topics">

      {% for topic2 in topic1.children %}

        <p>
          <a href="/edit-topic/{{topic2.title}}">{{topic2.title}}</a>
          <span class="number">{{Math.round(Math.random()*500)+500}}</span>
        </p>

        <div class="topics">

        {% for topic3 in topic2.children %}

          <p>
            <a href="/edit-topic/{{topic3.title}}">{{topic3.title}}</a>
            <span class="number">{{Math.round(Math.random()*250)}}</span>
          </p>

          <div class="topics">

          {% for topic4 in topic3.children %}

            <p>
              <a href="/edit-topic/{{topic4.title}}">{{topic4.title}}</a>
              <span class="number">{{Math.round(Math.random()*250)}}</span>
            </p>

          {% endfor %}

          </div>

        {% endfor %}

        </div>

      {% endfor %}

      </div>

    {% endfor %}

    </div>


{% endblock %}

{% block side_bar %}

{% endblock %}
